[submodule "CustomExtensions"]
	path = CustomExtensions
	url = https://github.com/DonTuel/CustomExtensions
[submodule "twEditControls"]
	path = twEditControls
	url = https://github.com/DonTuel/twEditControls
